.contact
{
margin-top:5%;
}
.heading
{
margin-top:6%;
font-size:50px;
color:#000000;
}
.collections
{
margin-top:5%;
padding-left:25px;
padding-right:25px;
padding-top:15px;
padding-bottom:15px;
border:2px solid #000000;
background-color:#ffffff;
color:#000000;
margin-left:45%;
}
#cartval
{
width:50px;
padding-left:8px;
padding-right:8px;
padding-top:5px;
padding-bottom:5px;
margin-left:8px;
height:50px;
background-color:#000;
border-radius:80px;
}
