.heading
{
margin-top:6%;
font-size:50px;
color:#000000;
}
.products
{
width:200px;
height:200px;
margin:4%;
}
.filters
{
margin:4%;
}
.subody
{
margin:4%;
}
.modal
{
padding:10px;
}
#cartval
{
width:50px;
padding-left:8px;
padding-right:8px;
padding-top:5px;
padding-bottom:5px;
margin-left:8px;
height:50px;
background-color:#000;
border-radius:80px;
}

#img
{
background-size:100%;
width:570px;
height:500px;
}
.slide
{
margin-left:600px;
}
#myModal
{
width:600px;
height:600px;
margin-top:2%;
margin-left:25%;
}
#myModal img
{
width:550px;
height:550px;
}
.sort
{
float:left;
margin-left:400px;
}
