<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <meta name="author" content="Pylons Project">
    <link href="{{request.static_url('ecommercesite:static/faq.css')}}"  rel="stylesheet">

<head>
  <title>The Ethnics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <body id="shopPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home">The Ethnics</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav navbar-right">
      <li><a href="cart"><span class="glyphicon glyphicon-shopping-cart"></span><span id="cartval">0{{cartcnt}}</span> My Cart</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home">HOME</a></li>
        <li><a href="shop">SHOP</a></li>
        <li><a href="faq">FAQ</a></li>
        <li><a href="contact">CONTACT US</a></li>
      </ul>

    </div>
  </div>
</nav>
<h1 class="text-center heading"> FAQ</h1> 
<hr>
<h2>
What is Ethnics and how does it work?
</h2>
<p>
Shopify is a complete commerce platform that lets you start, grow, and manage a business.

    Create and customize an online store

    Sell in multiple places, including web, mobile, social media, online marketplaces, brick-and-mortar locations, and pop-up shops

    Manage products, inventory, payments, and shipping

Ethnics is completely cloud-based and hosted, which means you don’t have to worry about upgrading or maintaining software or web servers. This gives you the flexibility to access and run your business from anywhere with an internet connection.
</p>
<h2>
How much does Ethnics cost?
</h2>
<p>
, no credit card required.

After your trial expires, choose a pricing plan that suits the size and stage of your business.
</p>
<h2>
Can I use my own domain name with Ethnics?
</h2>
<p>
Yes, you can use your own domain name with Ethnics.

If you have an existing domain name, you can connect it to EEthnics from your store’s admin. Learn more about connecting an existing domain to a Shopify store.

If you don’t have a domain name yet, you can either buy one through Ethnics or a third-party provider.
</p>
<h2>
Do I need to be a designer or developer to use Ethnics?
</h2>
<p>
No, you don’t need to be a designer or developer to use Ethnics.

Customize the look and feel of your store with the online store builder and themes.

Add features and functionality to your store with apps.

If you need extra help, you can contact our support team, or visit the Ethnics Expert Marketplace to search for and hire a certified Shopify expert.
</p>
<h2>
In what countries can I use Ethnics?
</h2>
<p>
You can use Shopify in nearly every country in the world.
</p>
<h2>
Which languages does Ethnics support?
</h2>
<p>
The customer-facing parts of your Shopify store, including ecommerce website, blog, checkout, and emails can be in any language if the theme supports it. Learn more and explore our themes.

The admin of your Shopify store is currently available in English, Chinese (Simplified), Chinese (Traditional), Danish, Dutch, Finnish, French, German, Hindi, Italian, Japanese, Korean, Malay, Norwegian, Portuguese (Brazil), Portuguese (Portugal), Spanish, Swedish, Thai, and Turkish.
</p>
</body>
</html>
